# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes/venvs e instalações locais
venv/
.venv/
ENV/
env/
Lib/
Scripts/
share/
Include/
*.egg-info/
dist/
build/
pip-wheel-metadata/

# IDEs
.vscode/
.idea/

# Dados grandes 
# data/
# !data/README.md

# Artefatos temporários
.ipynb_checkpoints/
*.log

# Modelos/artefatos binários
models/
*.pkl
*.joblib

# Resultados 
results/*.json
results/*.txt
results/*.joblib
results/bootcamp_submission_long.csv
results/plots/_teste.png
!results/bootcamp_submission.csv
!results/plots/
